package components

templ Navbar() {
	<nav class="h-full bg-brand-dark text-brand-light shadow-md  antialiased">
		<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
			<div class="flex items-center justify-between h-16">
				<div class="hidden md:flex space-x-4 ">
					@Button("/","Home")
				</div>
			</div>
		</div>
	</nav>
}