[Unit]
Description=Go Web App Service
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/var/www/gowebdevproject
ExecStart=/var/www/gowebdevproject/app
Restart=always
RestartSec=5
Environment=PORT=8080

[Install]
WantedBy=multi-user.target